<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rendr Portal Automation Page Access Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d99988">  <td>19/06/20 12:59:32</td>   <td>0</td> <td title="&gt;&gt;BaseTest.startExecution()[pri:0, instance:testcases.PatientModuleTest@b684286]">&gt;&gt;startExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 12:59:32</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:testcases.PatientModuleTest@b684286]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>19/06/20 12:59:54</td>   <td>21830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientModuleTest.PatientListColumnVerification()[pri:1, instance:testcases.PatientModuleTest@b684286]">PatientListColumnVerification</td> 
  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:22</td>   <td>50196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.ScreenShot(org.testng.ITestResult)[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;ScreenShot</td> 
<td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>19/06/20 13:00:22</td>   <td>50196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientModuleTest.PatientCreateVerification()[pri:2, instance:testcases.PatientModuleTest@b684286]">PatientCreateVerification</td> 
  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:26</td>   <td>54132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.ScreenShot(org.testng.ITestResult)[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;ScreenShot</td> 
<td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>19/06/20 13:00:26</td>   <td>54133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientModuleTest.PatientSearchFunctionality()[pri:3, instance:testcases.PatientModuleTest@b684286]">PatientSearchFunctionality</td> 
  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:39</td>   <td>66613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.ScreenShot(org.testng.ITestResult)[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;ScreenShot</td> 
<td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="648bfd">  <td>19/06/20 13:00:39</td>   <td>66613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatientModuleTest.PatientEditFunctionality()[pri:4, instance:testcases.PatientModuleTest@b684286]">PatientEditFunctionality</td> 
  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:46</td>   <td>74279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.ScreenShot(org.testng.ITestResult)[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;ScreenShot</td> 
<td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:46</td>   <td>74279</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
<tr bgcolor="d99988">  <td>19/06/20 13:00:49</td>   <td>77217</td> <td title="&lt;&lt;BaseTest.stopExecution()[pri:0, instance:testcases.PatientModuleTest@b684286]">&lt;&lt;stopExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2137589296</td>   <td></td> </tr>
</table>
